// Variables
$shadow: #0d1b29;
$box-shadow: 0.2rem 0.2rem 1rem #0d1b29;
$bg: #122333;
$window: #182b3c;
$mid-blue: #254058;
$borders: #445c70;
$font: #d8e5ef;
$accent: #2eac68;
$accent-hover: #3ac87c;